html, body, div, span, iframe, h1, h2, h6, p, a, small, ul, li,fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, embed, footer, header, nav, section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
nav, section{display:block}
body{line-height:1}
ol, ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{background:url(../c/bg.jpg);background:url(../c/mp-background-shading.png) center top,url(../c/bg.jpg);font-family:arial;color:#000;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}
h1{padding-bottom: 15px;font-family: 'Oswald', sans-serif;text-transform: uppercase;color: #603d05;font-size: 2em;line-height: 1}
h2, h6, h3, h4{color:#3a3a3a;font-family:'Sanchez',arial,helvetica,sans-serif;font-weight:normal;}
h4{font-size:1em;line-height:1.5}
h1 a, h2  a{font-weight:inherit}
h2{font-size:1.5em;line-height:26px;margin-bottom:15px}
h6{font-size:14px;line-height:18px}
p{margin:0 0 20px 0;font-size:0.8em;line-height:21px;margin-bottom:2em}
strong{font-weight:bold;color:#333}
small{font-size:80%}
b{font-weight:600}
a, a:visited{color:#333;text-decoration:none;outline:0}
a:hover, a:focus{color:#000}
p a, p a:visited{line-height:inherit}
ul{margin-bottom:20px}
ul{list-style:none outside}
ul ul li{margin-bottom:6px}
li{line-height:18px;margin-bottom:12px}
li p{line-height:21px}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{background:#eee;background:#eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);background:#eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2)));background:#eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);background:#eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);background:#eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);background:#eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);border:1px solid #aaa;border-top:1px solid #ccc;border-left:1px solid #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#444;display:inline-block;font-size:11px;font-weight:bold;text-decoration:none;text-shadow:0 1px rgba(255, 255, 255, .75);cursor:pointer;margin-bottom:20px;line-height:normal;padding:8px 10px;font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{color:#222;background:#ddd;background:#ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%);background:#ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3)));background:#ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);background:#ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);background:#ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);background:#ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);border:1px solid #888;border-top:1px solid #aaa;border-left:1px solid #aaa}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active{border:1px solid #666;background:#ccc;background:#ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%);background:#ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4)));background:#ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);background:#ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);background:#ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%);background:#ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%)}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0}
form{margin-bottom:20px}
fieldset{margin-bottom:20px}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea{border:1px solid #ccc;padding:6px 4px;outline:none;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font:0.9em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#777;margin:0;width:97%;max-width:100%;display:block;background:#fff}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
textarea:focus{border:1px solid #aaa;color:#444;-moz-box-shadow:0 0 3px rgba(0,0,0,.2);-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);box-shadow:0 0 3px rgba(0,0,0,.2)}
textarea{min-height:60px}


